html, body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row div{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img{
    position: absolute;
    pointer-events: none;
}
